<ion-view view-title="Acerca de">
  <ion-content>
      <h3 style="text-align:center">Control de Puntos de Reciclaje</h3>
    <p style="text-align:justify">Esta aplicación es una herramienta para llevar un control de los puntos obtenidos al realizar el reciclaje en las estaciones de deposito.</p>
      <p style="text-align:justify">Ofrece una control de puntos totales obtenidos y los puntos disponibles, además de un top 10 de los usuarios que han obteneido las mayores cantidades de puntos, así como los premios puede obtener con ellos.</p>
      <p style="text-color:grey">Creado por: Fabián Vega Ramírez</p>
  </ion-content>
</ion-view>
