/* Empty. Add your own CSS if you like */
.profileImg {
border:double 5px #b3b3b3;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.content{
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;

}


.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.bar.app-top-bar {
  background-color: #8e44ad; }
  .bar.app-top-bar .title {
    color: #FFFFFF !important; }
    .bar.app-top-bar .title * {
      color: #FFFFFF !important; }
  .bar.app-top-bar .button {
    color: #FFFFFF !important; }
    .bar.app-top-bar .button * {
      color: #FFFFFF !important; }